@model IEnumerable<Products.Library.Entity.Models.ProductsInfo>

@{
    ViewData["Title"] = "Search";
}
    <p>
        <a asp-controller="Products"></a>
    </p>
    <form asp-action="Search" method="get">
        <div class="form-actions no-color">
            <p>
                Search by Products Name: <input type="text" name="SearchText" value="@ViewData["currentFilter"]" />
                <input type="submit" value="Search" class="btn btn-default" style="background: darkgrey; height: 35px;" />
            </p>
        </div>
    </form>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MRP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>


                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MRP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    <a asp-controller="Products" asp-action="ProductsDetail" asp-route-productID=@item.ProductID class="btn btn-primary">Detail</a>
                    <a asp-controller="Products" asp-action="UpdateProducts" asp-route-productID=@item.ProductID class="btn btn-info">Update</a>
                    <a asp-controller="Products" asp-action="DeleteProducts" asp-route-productID=@item.ProductID class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>